.about-container{
    margin: 0 32px;
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.about-left-container, .about-right-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.about-right-container{
    flex: 1.5;
}

.about-right-container h1 span{
    color: var(--main-color);
}

.about-right-container > p{
    margin: 16px 0;
}


.about-img-container{
    background: url('../../assets/images/computer1.jpg');
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: cover;
    border-radius: 10px;
    justify-self: center;
    width: 350px;
    height: 325px;
    position: relative;
}

.about-circle{
    position: absolute;
    background-color: var(--white-color);
    bottom: -35px;
    right: -35px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.about-circle > p{
    height: 150px;
    width: 150px;
    position: relative;
    animation: spin 8s linear infinite;
     border-radius: 50%;
}


.about-circle > img{
    position: absolute;
    top: 55px;
    left: 37px;
    margin: auto;
    width: 75px;
    /* animation: reverse-spin 8s linear infinite; */
}

.about-circle > p span{
    position: absolute;
    left: 50%;
    transform-origin: 0 75px;
    text-transform: uppercase;
    color: var(--text-color);
}

@media screen and (max-width: 1074px) {

    .about-container{
        flex-direction: column;
    }

    .about-left-container{
        align-items: center;
        margin-bottom: 40px;
    }

    .sub-heading{
        font-size: 22px;
    }

    .about-right-container{
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .about-sub-heading{
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .sub-heading{
        font-size: 18px;
    }

    .about-img-container{
        width: 250px;
        height: 225px;
    }
    
    .about-circle{
        width: 110px;
        height: 110px;
        bottom: -25px;
        right: -25px;
    }

    .about-circle > p{
        height: 110px;
        width: 110px;
        position: relative;
        animation: spin 8s linear infinite;
        font-size: 12px;
    }
    .about-circle > p span{
        transform-origin: 0 55px;
        text-transform: uppercase;
        color: var(--text-color);
    }
    .about-circle > img{
        position: absolute;
        top: 45px;
        left: 27px;
        margin: auto;
        width: 55px;
    }    
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes reverse-spin {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}