.card{
    background-color: var(--nav-list-color);
    border-radius: 10px;
    box-shadow: var(--shadow-color) 0px 1px 2px 0px, var(--shadow-color) 0px 2px 6px 2px;
    position: relative;
    overflow: hidden;
    height: 350px;
    transition: all 0.3s;
}

.card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color-low-opacity);
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.3s;
    transition-delay: 0.3s;
}

.card:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color-low-opacity);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: all 0.3s;
    transition-delay: 0.3s;
}

.card:hover:before{
    transform: translateY(-50%);
    transition-delay: 0s;
}

.card:hover:after{
    transform: translateY(50%);
    transition-delay: 0s;
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.card-content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    transform: scale(5);
    opacity: 0;
    transition: all 0.3s;
    text-align: center;
    z-index: 1;
}

.card-content h1{
    font-size: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.card-content p{
    font-size: 14px;
    letter-spacing: 1px;
}

.card-content a{
    text-decoration: none;
    color: var(--white-color) !important;
    border: 2px solid var(--white-color);
    padding: 8px 24px;
    border-radius: 5px;
    text-transform: capitalize;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 900;
}

.card:hover > .card-content{
    transform: scale(1);
    transition-delay: 0.3s;
    opacity: 1;    
    padding: 16px;
}